NODE_ENV = local

WALLET_PRIVATE_KEY = 0xc92FC0086715B34dAe3C4464F1082396B59ba398

GOERLI_NODE_URL='https://goerli.infura.io/v3/c82a9eb62c7148e5b2eb36a58b242ba8'

ETHERSCAN_API_KEY = D6ZJ7TNHT8B49R4CRVTAEKQ1D55B2BEMD3

COINMARKET_API_KEY = 